@mixin shadow-micro {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

@mixin shadow-sm {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
}

@mixin shadow-md {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@mixin shadow-lg {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
