:root {
    --spacing-1x: 4px;
    --spacing-2x: 8px;
    --spacing-4x: 16px;
    --spacing-6x: 24px;
    --spacing-8x: 32px;
    --spacing-10x: 40px;
    --spacing-12x: 48px;
}

:export {
    --spacing-1x: 4px;
    --spacing-2x: 8px;
    --spacing-4x: 16px;
    --spacing-6x: 24px;
    --spacing-8x: 32px;
    --spacing-10x: 40px;
    --spacing-12x: 48px;
}
