:root {
    --color-green-10: #9cfc9d;
    --color-green-100: #0e2b0e;
    --color-green-20: #73f774;
    --color-green-30: #4df04e;
    --color-green-40: #28e729;
    --color-green-50: #1cc41d;
    --color-green-60: #1b981b;
    --color-green-70: #1a7a1a;
    --color-green-80: #175e17;
    --color-green-90: #134413;

    --color-grey-1: #f7f7f7;
    --color-grey-10: #f7f7f766;
    --color-grey-100: #242424;
    --color-grey-20: #b4b4b466;
    --color-grey-30: #9d9d9d66;
    --color-grey-40: #85858566;
    --color-grey-50: #6d6d6d66;
    --color-grey-60: #55555566;
    --color-grey-70: #3e3e3e66;
    --color-grey-80: #26262666;
    --color-grey-90: #1f1f1f66;

    --color-purple-10: #a89cfc;
    --color-purple-100: #0f0e2b;
    --color-purple-20: #8373f7;
    --color-purple-30: #614df0;
    --color-purple-40: #3f28e7;
    --color-purple-50: #311cc4;
    --color-purple-60: #2a1b98;
    --color-purple-70: #231a7a;
    --color-purple-80: #1c175e;
    --color-purple-90: #161344;

    --color-red-10: #fb8582;
    --color-red-100: #280e0e;
    --color-red-20: #f6625f;
    --color-red-30: #ee403d;
    --color-red-40: #e5201e;
    --color-red-50: #be1d1c;
    --color-red-60: #961b1b;
    --color-red-70: #781a1a;
    --color-red-80: #5c1818;
    --color-red-90: #411414;

    --color-yellow-10: #fcfc9c;
    --color-yellow-100: #2b2b0e;
    --color-yellow-20: #f7f773;
    --color-yellow-30: #f0f04d;
    --color-yellow-40: #e7e728;
    --color-yellow-50: #c4c41c;
    --color-yellow-60: #98981b;
    --color-yellow-70: #7a7a1a;
    --color-yellow-80: #5e5e17;
    --color-yellow-90: #444413;
}

:export {
    --color-green-10: #9cfc9d;
    --color-green-100: #0e2b0e;
    --color-green-20: #73f774;
    --color-green-30: #4df04e;
    --color-green-40: #28e729;
    --color-green-50: #1cc41d;
    --color-green-60: #1b981b;
    --color-green-70: #1a7a1a;
    --color-green-80: #175e17;
    --color-green-90: #134413;

    --color-grey-1: #e6e6e6;
    --color-grey-10: #e6e6e666;
    --color-grey-100: #181818;
    --color-grey-20: #b4b4b466;
    --color-grey-30: #9d9d9d66;
    --color-grey-40: #85858566;
    --color-grey-50: #6d6d6d66;
    --color-grey-60: #55555566;
    --color-grey-70: #3e3e3e66;
    --color-grey-80: #26262666;
    --color-grey-90: #1f1f1f66;

    --color-purple-10: #a89cfc;
    --color-purple-100: #0f0e2b;
    --color-purple-20: #8373f7;
    --color-purple-30: #614df0;
    --color-purple-40: #3f28e7;
    --color-purple-50: #311cc4;
    --color-purple-60: #2a1b98;
    --color-purple-70: #231a7a;
    --color-purple-80: #1c175e;
    --color-purple-90: #161344;

    --color-red-10: #fb8582;
    --color-red-100: #280e0e;
    --color-red-20: #f6625f;
    --color-red-30: #ee403d;
    --color-red-40: #e5201e;
    --color-red-50: #be1d1c;
    --color-red-60: #961b1b;
    --color-red-70: #781a1a;
    --color-red-80: #5c1818;
    --color-red-90: #411414;

    --color-yellow-10: #fcfc9c;
    --color-yellow-100: #2b2b0e;
    --color-yellow-20: #f7f773;
    --color-yellow-30: #f0f04d;
    --color-yellow-40: #e7e728;
    --color-yellow-50: #c4c41c;
    --color-yellow-60: #98981b;
    --color-yellow-70: #7a7a1a;
    --color-yellow-80: #5e5e17;
    --color-yellow-90: #444413;
}
