@use '@emingy/core/styles/shadows';

.PreviewCard {
    @include shadows.shadow-md;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    background-color: var(--color-grey-70);

    &__preview {
        height: 60%;
    }

    &__description {
        padding: var(--spacing-2x);
    }

    &__param {
        color: var(--color-grey-10);
    }

    &__hint {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        color: var(--color-grey-1);
        text-align: center;
        opacity: 0;
        z-index: 2;
        background-color: var(--color-grey-50);
        backdrop-filter: blur(4px);
        transition: opacity var(--animation-duration-base) var(--animation-easing-ease-in-out);
    }

    &:hover &__hint {
        opacity: 1;
    }

    &__badge {
        background-color: var(--color-grey-50);
        padding: 4px;
        border-radius: 4px;
    }
}
