:root {
    --animation-duration-fast: 150ms;
    --animation-duration-base: 250ms;
    --animation-duration-medium: 350ms;
    --animation-duration-slow: 500ms;
    --animation-duration-very-slow: 700ms;

    --animation-easing-ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
    --animation-easing-ease-out: cubic-bezier(0, 0, 0.2, 1);
    --animation-easing-ease-in: cubic-bezier(0.4, 0, 1, 1);
    --animation-easing-ease-linear: linear;
    --animation-easing-ease-bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

:export {
    --animation-duration-fast: 150ms;
    --animation-duration-base: 250ms;
    --animation-duration-medium: 350ms;
    --animation-duration-slow: 500ms;
    --animation-duration-very-slow: 700ms;

    --animation-easing-ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
    --animation-easing-ease-out: cubic-bezier(0, 0, 0.2, 1);
    --animation-easing-ease-in: cubic-bezier(0.4, 0, 1, 1);
    --animation-easing-ease-linear: linear;
    --animation-easing-ease-bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
