@use '@emingy/core/styles/variables';

* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    text-align: inherit;
    appearance: none;
    background: none;
    outline: none;
    box-shadow: none;
}

body {
    background-color: var(--color-grey-100);
}
