.Spacing {
    &__item__preview {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: var(--color-grey-60);

        & > div {
            border-radius: 10%;
            background-color: var(--color-purple-40);
            color: var(--color-grey-1);
            height: fit-content;
        }
    }
}
